@(message: String, firsts: List[GraphEntityValue], typeValues:
List[ActionPropertyFile], status: String) @import helper._
@main(message){
<div id="page-wrapper">
	@helper.form(action=routes.GroupController.addActionPropertyGroup(),'id->"myForm_property",'name->"myForm_property"){
	<!-- ------ -->
	@if(typeValues!=null && typeValues.size()!=0){
	<div class="row">
		<div class='col-lg-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'>All Action(s)</div>
				<div class='panel-body' style='overflow: auto; height: 400px;'>
					<table class='table table-hover' id="actionTable">
						<thead>
							<th>Action Type</th>
							<th>Action Value</th>
							<th>Operations</th>
						</thead>
						<tbody>
							@for(index <- 0 until typeValues.size){
							<tr id="tr@index">
								<td>@typeValues.get(index).getActionType()</td>
								<td id="value_@index">@typeValues.get(index).getActionValue()</td>
								<td>
									<div class='row'>
										<div class='col-lg-6'>
											<a
												onclick="openEditModal('@{index}','@typeValues.get(index).getActionId()')"
												class=' btn btn-info btn-block'>Edit</a>
										</div>
										<div class='col-lg-6'>
											<a
												onclick="deleteItem('tr@{index}','@typeValues.get(index).getActionId()')"
												class=' btn btn-danger btn-block'>Delete</a>
										</div>
									</div>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- ------ -->
	}
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>@if(status=="update"){Add More}else{Create} Action
							Property Group</b> </i>
				</div>

				<div class="row">

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Enter Value(s)&nbsp<span
									style="font-size: 10px; font-weight: normal"><i>(seperated
											by comma for multiple values)</i></span></b>
							</div>
							<div class="panel-body">
								@for(first <- firsts) {

								<div class="row ">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Enter values for @first.getValue() </label> <input
											type="text" class="form-control "
											name="value_@first.getValue()" id="value_@first.getValue()" />
									</div>
								</div>
								}
							</div>
						</div>
					</div>
					<input type="hidden" name="status" value="@status" />
				</div>
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Step 2 &#8594; <b>Select Operation</b>
		</div>
		<div class="panel-body">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-lg-6">
					<button type="submit" value="continue" name="submitValue1"
						class="btn btn-primary col-lg-12 btn-block">
						<b>Save and Go Back</b>
					</button>
				</div>
				<div class="col-lg-6">
					<a type="submit"
						onclick="location.href = '@routes.Application.home()'"
						value="back" name="submitValue1"
						class="btn btn-danger col-lg-12 btn-block"> <b>Go Back</b>
					</a>
				</div>
			</div>
		</div>
	</div>
	}
</div>
<div id="modalDiv">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Edit Action</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<label>New Action Value</label> <input type="text"
								class="form-control " name="actionValue" id='actionValue' />
						</div>
					</div>
				</div>
				<input type="hidden" name="actionId" id="actionId" /> 
				<input type="hidden" name="rowId" id="rowId" />
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary"
						onclick="updateAction()">Update Action</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function updateAction() {
		var actionId = $("#actionId").val();
		var actionValue = $("#actionValue").val();
		var rowId = $("#rowId").val();
		$.ajax({
			type : "POST",
			url : "/updateActionValue",
			data : {
				"actionId" : actionId,
				"actionValue" : actionValue
			},
			success : function(data) {
				$("#value_" + rowId).html(actionValue);
				$("#myModal").modal('toggle');

			}
		});
	}

	function openEditModal(rowId, id) {
		if (id != null) {
			$("#rowId").val(rowId);
			$("#actionId").val(id);
			$("#actionValue").val();
			$("#myModal").modal('show');
		}

	}
	function deleteItem(rowId,id) {
		if (id != null) {
			var option =  confirm("Are you sure to delete This Action Type?");
			
			if(option){
				$.ajax({
					type : "POST",
					url : "/deleteActionValue",
					data : {
						"actionId" : id,
					},
					success : function(data) {
						$("#"+rowId).remove();
						document.getElementById("actionTable").deleteRow(rowId);
					}
				});		
			}
		
		}
	}
</script>

}
