@(actionTypes:List[String],actionSubTypes:List[String]) 
@import helper._
@main("Add New Action"){

<script>
	$(document).ready(function() {
		$("#addActionInput").focus();
	});
</script>
<div id="page-wrapper">

	@helper.form(action=routes.ActionController.submitAddAction(),'id->"addActions",'name->"addActions"){
	<div id="result"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Action*</b> </i>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Action Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Action Type </label> <select required
											class="form-control" name="actionType" id="actionTypeOptions">
											<option selected="selected" disabled="disabled" value="">Select
												Action Type</option> @for(actionType <- actionTypes){
											<option value="@actionType">@actionType</option> }
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ;;;;;;;;;; -->
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Select Action Sub Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Action Sub Type </label> <select required
											class="form-control" name="actionSubType"
											id="actionSubTypeOption">
											<option selected="selected" disabled="disabled" value="">Select
												Action Sub Type</option> @for(actionSubType <- actionSubTypes){
											<option value="@actionSubType">@actionSubType</option> }
										</select>
									</div>
									<!-- 
									<div class="col-lg-12" style="text-align: center;">
										<label> OR </label>
									</div>
									<div class="col-lg-12">
										<label>Add New Action Sub Type</label>
										<div class="col-lg-9"
											style="padding-right: 5px; padding-left: 5px">
											<input type="text" class="form-control "
												name="newActionSubType" id='newActionSubType' />
										</div>
										<div class="col-lg-3"
											style="padding-right: 5px; padding-left: 5px">
											<a class="btn btn-success col-lg-12 btn-block"
												onclick="updateField('newActionSubType','actionSubTypeOption')">add</a>
										</div>
									</div>
									-->
								</div>
							</div>
						</div>
					</div>
					<!-- ;;;;;;; -->

					<div class="col-lg-12" style="margin: 0 auto">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step3 &#8594; <b>Select Action Value</b>
							</div>
							<div class="panel-body">
								<div class="row">

									<div class="col-lg-12">
										<label>Add New Action Value</label><span
											style="font-size: 10px;">(multiple actions separated
											by comma)</span> <input required type="text" class="form-control "
											name="newActionValue" id="addActionInput" />
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step 4 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue1"
								id="submitValue1" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add More Actions</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Go Back</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-info col-lg-12 btn-block"> <b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
