@import helper._ 

@main("Add New CombiningAlgorithm"){

<script>
	$(document).ready(function() {
		$("#addCombiningAlgorithmInput").focus();
	});
</script>
<div id="page-wrapper">

	@helper.form(action=routes.CombiningAlgorithmController.submitAddCombiningAlgorithm(),'id->"addCombiningAlgorithm",'name->"addCombiningAlgorithm"){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New CombiningAlgorithm*</b> </i>
				</div>


				<div class="col-lg-12" style="margin: 0 auto">
					<div class="panel panel-default">
						<div class="panel-heading">
							Step 1 &#8594; <b>Select CombiningAlgorithm Value</b>
						</div>
						<div class="panel-body">
							<div class="row">

								<div class="col-lg-12">
									<label>Add New CombiningAlgorithm Value</label><span
										style="font-size: 10px;">(multiple combiningAlgorithm
										separated by comma)</span> <input required type="text"
										class="form-control " name="newCombiningAlgorithmValue"
										id="addCombiningAlgorithmInput" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Step 2 &#8594; <b>Select Operation</b>
						</div>
						<div class="panel-body">
							<div class="row" style="margin-bottom: 10px;">
								<div class="col-lg-4">
									<button type="submit" value="more" name="submitValue1"
										id="submitValue1" class="btn btn-success col-lg-12 btn-block">
										<b>Save and Add More CombiningAlgorithm</b>
									</button>
								</div>
								<div class="col-lg-4">
									<button type="submit" value="continue" name="submitValue1"
										id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
										<b>Save and Go Back</b>
									</button>
								</div>
								<div class="col-lg-4">
									<a onClick="location.href = '@routes.Application.adminHome()'"
										class="btn btn-info col-lg-12 btn-block"> <b>Go Back</b>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>


	</div>
	}
</div>
}
