@import helper._ 
@main("Add New Permission"){

<script>
	$(document).ready(function() {
		$("#addPermissionInput").focus();
	});
</script>
<div id="page-wrapper">

	@helper.form(action=routes.RuleController.submitAddPermissions(),'id->"addPermissions",'name->"addPermissions"){
	<div id="result"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Permission Type*</b> </i>
				</div>

				<div class="row">
					<div class="col-lg-12" style="margin: 0 auto">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step 1 &#8594; <b>Add Permission Value</b>
							</div>
							<div class="panel-body">
								<div class="row">

									<div class="col-lg-12">
										<label>Add New Permission Value</label><span
											style="font-size: 10px;">(multiple permissions separated
											by comma)</span> <input required type="text" class="form-control "
											name="newPermissionValue" id="addPermissionInput" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step 2 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue1"
								id="submitValue1" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add More Permissions</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Go Back</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-info col-lg-12 btn-block"> <b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
