@(propertyTypes:List[String]) 
@import helper._ 
@main("Add Property Value"){
<script>

	$(document).ready(function() {
		$("#addSubjectInput").focus();
	});
	function changeType(option,mainType,subTypeOption){
		var parent = "PARENT",dOption="Main",subType="";
		if(option!='1'){
			parent = $("#"+option+" option:selected").val();	
			dOption="Sub"
		}
		var mainTypeVal = $("#"+mainType+" option:selected").val();
		$.ajax({
	        type : "POST",
	        url : "/getMainTypes",
	        data:{"mainType":mainTypeVal,"parent":parent},
	        success:function(data){
	        	lst = JSON.parse(data);
	        	$('#'+subTypeOption).empty(); //remove all child nodes
	        	var defaultOption = $('<option selected="selected" disabled="disabled" value="">Select '+dOption+' Type</option>');
	        	$('#'+subTypeOption).append(defaultOption);
	        	for(var i=0;i<lst.length;i++){
	        		var newOption = $('<option value="'+lst[i]+'">'+lst[i]+'</option>');
	            	$('#'+subTypeOption).append(newOption);
	        	}
	            $('#'+subTypeOption).trigger("chosen:updated");
	            }
	    });
	}
</script>
<div id="page-wrapper">
	@helper.form(action=routes.PropertyFileController.submitPropertyValue(),'id->"propertyValueForm",'name->"propertyValueForm"){
	<div id="result"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Property Values*</b> </i>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Property Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Property Type </label> <select
											onchange="changeType('1','propertyTypeOptions','mainTypeOptions')"
											required class="form-control" name="propertyTypeOptions"
											id="propertyTypeOptions">
											<option selected="selected" disabled="disabled" value="">Select
												Property Type</option> @for(propertyType <- propertyTypes){
											<option value="@propertyType">@propertyType</option> }
										</select>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- ;;;;;;;;;; -->
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Select Main Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Main Type </label> <select required
											class="form-control" name="mainTypeOptions" id="mainTypeOptions"
											onchange="changeType('propertyTypeOptions','mainTypeOptions','subTypeOptions')">
											<option selected="selected" disabled="disabled" value="">Select
												Main Type</option>
										</select>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- ;;;;;;;;;; -->
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step3 &#8594; <b>Select Sub Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Sub Type </label> <select required
											class="form-control" name="subTypeOptions" id="subTypeOptions">
											<option selected="selected" disabled="disabled" value="">Select
												Sub Type</option>

										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ;;;;;;; -->

					<div class="col-lg-12" style="margin: 0 auto">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step4 &#8594; <b>Property Value(s)</b>
							</div>
							<div class="panel-body">
								<div class="row">

									<div class="col-lg-12">
										<label>Add New Property Value(s)</label><span
											style="font-size: 10px;">(multiple values separated
											by comma)</span> <input required type="text" class="form-control "
											name="newPropertyValue" id="newPropertyValue" />
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step5 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue1"
								id="submitValue1" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add More Values</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Go Back</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-info col-lg-12 btn-block"> <b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
