@(resourceTypes:List[String],resourceSubTypes:List[String])
@import helper._ 
@main("Add New Resource"){

<script>
	$(document).ready(function() {
		$("#addResourceInput").focus();
	});
</script>
<div id="page-wrapper">

	@helper.form(action=routes.ResourceController.submitAddResource(),'id->"addResource",'name->"addResource"){
	<div id="result"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Resource*</b> </i>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Resource Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Resource Type </label> <select required class="form-control"
											name="resourceType" id="resourceTypeOptions">
											<option selected="selected" disabled="disabled" value="">Select
												Resource Type</option>
												@for(resourceType <- resourceTypes){
													<option value="@resourceType">@resourceType</option>
												}
										</select>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<!-- ;;;;;;;;;; -->
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Select Resource Sub Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Resource Sub Type </label> <select required class="form-control"
											name="resourceSubType" id="resourceSubTypeOption">
											<option selected="selected" disabled="disabled" value="">Select
												Resource Sub Type</option>
												@for(resourceSubType <- resourceSubTypes){
													<option value="@resourceSubType">@resourceSubType</option>
												}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ;;;;;;; -->

					<div class="col-lg-12" style="margin: 0 auto">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step3 &#8594; <b>Select Resource Value</b>
							</div>
							<div class="panel-body">
								<div class="row">

									<div class="col-lg-12">
										<label>Add New Resource Value</label><span
											style="font-size: 10px;">(multiple resources separated
											by comma)</span> <input required type="text" class="form-control "
											name="newResourceValue" id="addResourceInput" />
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step 4 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue1"
								id="submitValue1" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add More Resources</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Go Back</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onClick="location.href = '@routes.Application.adminHome()'" 
							class="btn btn-info col-lg-12 btn-block">
								<b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
