@(subjectTypes:List[String],subjectSubTypes:List[String])
@import helper._ 
@main("Add New Subject"){

<script>
	$(document).ready(function() {
		$("#addSubjectInput").focus();
	});
</script>
<div id="page-wrapper">

	@helper.form(action=routes.SubjectController.submitAddSubject(),'id->"addSubject",'name->"addSubject"){
	<div id="result"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Subject*</b> </i>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Subject Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Subject Type </label> <select required class="form-control"
											name="subjectType" id="subjectTypeOptions">
											<option selected="selected" disabled="disabled" value="">Select
												Subject Type</option>
											@for(subjectType <- subjectTypes){
												<option value="@subjectType">@subjectType</option>
											}
										</select>
									</div>
									
								</div>
							</div>
						</div>
					</div>
	
					<!-- ;;;;;;;;;; -->
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Select Subject Sub Type</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Subject Sub Type </label> <select required class="form-control"
											name="subjectSubType" id="subjectSubTypeOption">
											<option selected="selected" disabled="disabled" value="">Select
												Subject Sub Type</option>
											@for(subjectSubType <- subjectSubTypes){
												<option value="@subjectSubType">@subjectSubType</option>
											}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ;;;;;;; -->

					<div class="col-lg-12" style="margin: 0 auto">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step3 &#8594; <b>Select Subject Value</b>
							</div>
							<div class="panel-body">
								<div class="row">

									<div class="col-lg-12">
										<label>Add New Subject Value</label><span
											style="font-size: 10px;">(multiple subjects separated
											by comma)</span> <input required type="text" class="form-control "
											name="newSubjectValue" id="addSubjectInput" />
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step 4 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue1"
								id="submitValue1" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add More Subjects</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Go Back</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onClick="location.href = '@routes.Application.adminHome()'" 
							class="btn btn-info col-lg-12 btn-block">
								<b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
