 @(userForm: Form[User],organisations:List[Organisation]) 
 @import helper._ 
 
 @main("SignUp"){

<div class="container theme-showcase" role="main">
	@helper.form(action=routes.Application.submitUser()){
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Sign Up</h3>
					</div>

					<div class="panel-body">
						<div class="row">
							@if(flash.get("message")) {
								<p class="error" style="text-align:center;color:red">@flash.get("error")</p>
							}
							<div class="col-lg-6" style="margin-bottom: 10px;">
								<label> First Name </label> <input required class="form-control"
									name="firstName" id="firstName" value='@userForm.data.get("firstName")'/> <label> Last Name </label>
								<input required class="form-control" name="surName" id="surName" value='@userForm.data.get("surName")'/>
								<label> Contact Number </label> <input required
									class="form-control" name="contactNumber" id="contactNumber" value='@userForm.data.get("contactNumber")' />
								<label> Email </label> <input required class="form-control"
									name="email" type="email" id="email" value='@userForm.data.get("email")'/>
							</div>
							<div class="col-lg-6" style="margin-bottom: 10px;">
								<label> UserName </label> <input required class="form-control"
									name="userName" id="userName" value='@userForm.data.get("userName")'/> <label> Password </label> <input
									required class="form-control" name="password" type="password"
									id="password" /> <label> Type </label> <select required
									class="form-control" name="type" id="type" >
										<option value="admin">admin</option>
										<option value="staff">staff</option>
									</select> 
								<label>
									Organisation </label> <select required class="form-control"
									name="organisationId" id="ogranisationId">
									@for(org<-organisations){
										<option value="@org.getOrganisationId()">@org.getOrganisationName()</option>
									}
								</select>
							</div>
							<div class="col-lg-12" style="margin-bottom: 10px;">
								<button type="submit" value="login" name="submitValue"
									id="submitValue" class="btn btn-success col-lg-12 btn-block">
									<b>Log In</b>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
