@(message: String, 
firsts: List[GraphEntityValue], 
seconds: List[GraphEntityValue], 
thirds: List[GraphEntityValue], 
fourths: List[GraphEntityValue],
labels: List[String])

@import helper._ 
@main(message){
<div id="page-wrapper">
	@helper.form(action=routes.PropertyFileController.addMemberPropertyGroup(),'id->"myForm_property",'name->"myForm_property"){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Create Asset Property Group</b> </i>
				</div>

				<div class="row">

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Value(s)</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(0)s </label> <label
											class="checkbox-inline"> <input type="checkbox"
											value="@labels.get(0)" name="firstOption"
											onchange="changeOption('firstIds','firstOption'); changeDivVisibility('firstChoiceSpan');">
											In Use
										</label> <select class="form-control" id="firstIds"
											disabled="disabled" name="firstIds[]" multiple>
											@for(first <- firsts) {
											<option value="@first.getValue()">
												@first.getValue()</option> }
										</select> <span id="firstChoiceSpan"
											style="display: none; font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for Selected @labels.get(0) </label> <label
											class="radio-in-line"><input type="radio"
												name="firstChoice" id="firstChoice" value="fixed"
												checked> Fixed </label> <label class="radio-in-line"><input
												type="radio" name="firstChoice" id="firstChoice"
												value="omit" checked> Omit </label>
										</span>
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(1)s
										</label> <label
											class="checkbox-inline"> <input type="checkbox"
											value="@labels.get(1)" name="secondChoiceOption"
											onchange="changeOption('secondChoiceId','secondChoiceOption'); changeDivVisibility('secondChoiceSpan');">
											In Use
										</label> <select class="form-control" id="secondChoiceId"
											disabled="disabed" name="secondChoiceId[]" multiple>
											@for(second <- seconds) {
											<option value="@second.getValue()">
												@second.getValue()</option> }
										</select> <span id="secondChoiceSpan"
											style="display: none; font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for Selected @labels.get(1) </label> <label class="radio-in-line"><input
												type="radio" name="secondChoice" id="secondChoice"
												value="fixed" checked> Fixed </label> <label
											class="radio-in-line"><input type="radio"
												name="secondChoice" id="secondChoice" value="omit" checked>
												Omit </label>
										</span>
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(2)s </label> <label class="checkbox-inline">
											<input type="checkbox" value="@labels.get(2)" name="thirdChoiceOption"
											onchange="changeOption('thirdChoiceId','thirdChoiceOption'); changeDivVisibility('thirdChoiceSpan');">
											In Use
										</label> <select class="form-control" id="thirdChoiceId"
											disabled="disabled" name="thirdChoiceId[]" multiple>
											@for(third <- thirds){
											<option value="@third.getValue()">@third.getValue()</option>
											}
										</select> <span id="thirdChoiceSpan"
											style="display: none; font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for Selected @labels.get(2) </label> <label class="radio-in-line"><input
												type="radio" name="thirdChoice" id="thirdChoice" value="fixed"
												checked> Fixed </label> <label class="radio-in-line"><input
												type="radio" name="thirdChoice" id="thirdChoice" value="omit"
												checked> Omit </label>
										</span>
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(3)s </label> <label class="checkbox-inline">
											<input type="checkbox" value="@labels.get(3)" name="fourthChoiceOption"
											onchange="changeOption('fourthChoiceId','fourthChoiceOption'); changeDivVisibility('fourthChoiceSpan');">
											In Use
										</label> <select class="form-control" id="fourthChoiceId"
											disabled="disabled" name="fourthChoiceId[]" multiple>
											@for(fourth <- fourths){
											<option value="@fourth.getValue()">@fourth.getValue()</option>
											}
										</select> <span id="fourthChoiceSpan"
											style="display: none; font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for Selected @labels.get(3) </label> <label class="radio-in-line"><input
												type="radio" name="fourthChoice" id="fourthChoice" value="fixed"
												checked> Fixed </label> <label class="radio-in-line"><input
												type="radio" name="fourthChoice" id="fourthChoice" value="omit"
												checked> Omit </label>
										</span>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Set Instance Count</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Attribute Combination Count </label> <input
											type="number" placeholder="0" min="0" class="form-control"
											required name="attributeCombinationCount">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Small </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="smallInstanceCount">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Medium </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="mediumInstanceCount">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Large </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="largeInstanceCount">
									</div>
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label>
										Prefixes for Member<i><span style="font-size:10px;">(Comma seperated prefixes)</span></i>
										</label>
										<input required class="form-control"
											placeholder="Enter Name PreFixes" type="text"
											name="namePrefixes" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Step 3 &#8594; <b>Select Operation</b>
		</div>
		<div class="panel-body">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-lg-4">
					<button type="submit" value="continue" name="submitValue1"
						 class="btn btn-primary col-lg-12 btn-block">
						<b>Save and Go Back</b>
					</button>
				</div>
				<div class="col-lg-4">
					<button type="submit" value="more" name="submitValue1"
						 class="btn btn-success col-lg-12 btn-block">
						<b>Save and Add Another Group</b>
					</button>
				</div>
				<div class="col-lg-4">
					<a class="btn btn-danger col-lg-12 btn-block" onClick="location.href = '@routes.Application.newFile()'">
						<b>Go Back</b>
					</a>
				</div>
			</div>
		</div>
	</div>
	}
</div>

}
