@(title: String, rules: List[Rule], groups: List[RuleGroup],
actionTypes: List[GraphEntityValue], permissions: List[Permission],
combiningAlgorithms:List[CombiningAlgorithm],
assetConfidentialities:List[GraphEntityValue],
assetIntegrities:List[GraphEntityValue],
assetTypes:List[GraphEntityValue],
memberFunctions:List[GraphEntityValue],
memberLevels:List[GraphEntityValue], memberRoles:List[GraphEntityValue],
organisations:List[GraphEntityValue],
organisationRoles:List[GraphEntityValue],
organisationSectors:List[GraphEntityValue] ) 

@import helper._
@main(title){

<div id="page-wrapper">
	@helper.form(action=routes.RuleController.submitCombineRule(),'id->"combineForm",'name->"combineForm"){

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Group</b></i>(<span
						style="font-size: 12px; color: #428bca"> <label
						class="checkbox-inline"><input type="checkbox"
							value="true" name="isBaseGroup">Mark as <b>BaseGroup?</b>
					</label>
					</span> ) <input class="form-control" placeholder="Enter Group Name"
						type="text" name="ruleGroupName" />
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Rules / Group</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-12">
										<label> Choose Rules To Combine </label> <select
											class="form-control" name="ruleId[]" id="ruleId" multiple>
											@for(rule <- rules) {
											<option value="@rule.getruleId()">
												@rule.getruleName()</option> }
										</select>
									</div>
									<div class="col-lg-12">
										<label> Choose Groups To Combine </label> <select
											class="form-control" name="groupId[]" id="groupId" multiple>
											@for(group <- groups) {
											<option value="@group.getRuleGroupId()">
												@group.getRuleGroupName()</option> }
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Select Combining Algorithm</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Select Algorithm </label> <select class="form-control"
											name="combiningAlgorithm" id="combiningAlgorithm">
											@for(combiningAlgorithm <- combiningAlgorithms) {
											<option value="@combiningAlgorithm.getCombiningAlgorithmId()">
												@combiningAlgorithm.getCombiningAlgorithmName()</option> }
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Step3 &#8594; <b>Select Action</b> <label
									class="checkbox-inline"> <input type="checkbox"
									value="inuse" name="actionTypeOption"
									onchange="changeDivVisibility('actionDiv')"> In Use
								</label>
							</div>
							<div class="panel-body" id="actionDiv" style="display: none;">
								<div class="row ">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label> Select Action Type </label> <label
											class="checkbox-inline"> <input type="checkbox"
											value="inuse" name="actionTypeOption"
											onchange="changeOption('actionType','actionTypeOption'); checkOption('actionTypeOption','actionValuesDiv')">
											In Use
										</label> <select onchange="fetchRows('actionType','actionValuesDiv')"
											style="margin-bottom: 10px;" class="form-control"
											name="actionType" disabled="disabled" id="actionType">
											<option value="" disabled="disabled" selected>Choose Action Value</option>
											@for(actionType<- actionTypes){
											<option value="@actionType.getValue()">@actionType.getValue()</option>
											}
										</select>
										<div id="actionValuesDiv" style="display: none;"></div>
									</div>
								</div>
							</div>

						</div>


					</div>
					<div class="col-lg-8">
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									Step4 &#8594; <b>Create Subject Combination</b> <label
										class="checkbox-inline"><input type="checkbox"
										value="inuse" name="subjectOption"
										onchange="changeDivVisibility('subjDiv')">In Use</label>
								</div>
								<div class="panel-body" style="display: none;" id="subjDiv">
									<div class="row">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label style="margin-right: 5px">Category</label> <label
												class="radio-inline"><input type="radio" checked
												value="organisation" name="subjectType"
												onChange="changeSubject('organisation');">Organisation</label>
											<label class="radio-inline"><input type="radio"
												value="member" name="subjectType"
												onChange="changeSubject('member');">Member</label>
										</div>
									</div>

									<div id="organisation_div">
										<div class="row">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Organisation </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="organisationOption"
													onchange="changeOption('organisationId','organisationOption')">In
													Use</label> <select disabled class="form-control" multiple
													name="organisationId[]" id="organisationId">
													@for(organisation <- organisations) {
													<option value="@organisation.getGraphEntityId()">
														@organisation.getValue()</option> }
												</select>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Organisation Role </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="organisationRoleOption"
													onchange="changeOption('organisationRoleId','organisationRoleOption')">In
													Use</label> <select class="form-control" multiple
													name="organisationRoleId[]" id="organisationRoleId"
													disabled="disabled"> @for(organisationRole <-
													organisationRoles) {
													<option value="@organisationRole.getGraphEntityId()">
														@organisationRole.getValue()</option> }
												</select>
											</div>
										</div>

										<div class="row ">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Organisation Sector </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="organisationSecOption"
													onchange="changeOption('organisationSectorId','organisationSecOption')">In
													Use</label> <select class="form-control"
													name="organisationSectorId[]" multiple
													id="organisationSectorId" disabled="disabled">
													@for(organisationSector <- organisationSectors) {
													<option value="@organisationSector.getGraphEntityId()">
														@organisationSector.getValue()</option> }
												</select>
											</div>
										</div>

									</div>

									<div id="member_div" style="display: none;">
										<div class="row ">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Member Function </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="memberFunctionOption"
													onchange="changeOption('memberFunctionId','memberFunctionOption')">In
													Use</label> <select disabled="disabled" class="form-control"
													name="memberFunctionId[]" id="memberFunctionId" multiple>
													@for(memberFunction <- memberFunctions) {
													<option value="@memberFunction.getGraphEntityId()">
														@memberFunction.getValue()</option> }
												</select>
											</div>
										</div>
										<div class="row ">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Member Role </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="memberRoleOption"
													onchange="changeOption('memberRoleId','memberRoleOption')">In
													Use</label> <select class="form-control" name="memberRoleId[]"
													id="memberRoleId" disabled="disabled" multiple>
													@for(memberRole <- memberRoles) {
													<option value="@memberRole.getGraphEntityId()">
														@memberRole.getValue()</option> }
												</select>
											</div>
										</div>
										<div class="row ">
											<div class="col-lg-12" style="margin-bottom: 10px;">
												<label> Select Member Level </label> <label
													class="checkbox-inline"><input type="checkbox"
													value="inuse" name="memberLevelOption"
													onchange="changeOption('memberLevelId','memberLevelOption')">In
													Use</label> <select class="form-control" name="memberLevelId[]"
													id="memberLevelId" disabled="disabled" multiple>
													@for(memberLevel <- memberLevels) {
													<option value="@memberLevel.getGraphEntityId()">
														@memberLevel.getValue()</option> }
												</select>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading"
									style="padding-right: 3px; padding-left: 6px;">
									Step5 &#8594; <b>Create Resource Combination</b> <label
										class="checkbox-inline"><input type="checkbox"
										value="inuse" name="resourceOption"
										onchange="changeDivVisibility('resDiv')">In Use</label>
								</div>
								<div class="panel-body"
									style="display: none; padding-bottom: 50px;" id="resDiv">

									<div class="row ">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Select Asset Confidentiality </label> <label
												class="checkbox-inline"> <input type="checkbox"
												value="inuse" name="assetConfidentialityOption"
												onchange="changeOption('assetConfidentialityId','assetConfidentialityOption')">
												In Use
											</label> <select class="form-control" id="assetConfidentialityId"
												disabled="disabled" name="assetConfidentialityId[]" multiple>
												@for(assetConfidentiality <- assetConfidentialities) {
												<option value="@assetConfidentiality.getGraphEntityId()">
													@assetConfidentiality.getValue()</option> }
											</select>
										</div>
									</div>
									<div class="row ">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Select Asset Integrity </label> <label
												class="checkbox-inline"> <input type="checkbox"
												value="inuse" name="assetIntegrityOption"
												onchange="changeOption('assetIntegrityId','assetIntegrityOption')">
												In Use
											</label> <select class="form-control" id="assetIntegrityId"
												disabled="disabed" name="assetIntegrityId[]" multiple>
												@for(assetIntegrity <- assetIntegrities) {
												<option value="@assetIntegrity.getGraphEntityId()">
													@assetIntegrity.getValue()</option> }
											</select>
										</div>
									</div>
									<div class="row ">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Select Asset Type </label> <label
												class="checkbox-inline"> <input type="checkbox"
												value="inuse" name="assetTypeOption"
												onchange="changeOption('assetTypeId','assetTypeOption')">
												In Use
											</label> <select class="form-control" id="assetTypeId"
												disabled="disabled" name="assetTypeId[]" multiple>
												@for(assetType <- assetTypes){
												<option value="@assetType.getGraphEntityId()">@assetType.getValue()</option>
												}
											</select>
										</div>
									</div>

								</div>

							</div>

						</div>
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Step6 &#8594; <b>Group Description(Optional)</b>
								</div>
								<div class="panel-body" style="padding-bottom: 35px;">
									<div class="row ">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Group Description </label>
											<textarea class="form-control" name="groupDescription">
								</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- col8 ends here -->

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Step 7 &#8594; <b>Select Operation</b>
				</div>
				<div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-4">
							<button type="submit" value="continue" name="submitValue1"
								id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
								<b>Save and Continue</b>
							</button>
						</div>
						<div class="col-lg-4">
							<button type="submit" value="more" name="submitValue2"
								id="submitValue2" class="btn btn-success col-lg-12 btn-block">
								<b>Save and Add Another Group</b>
							</button>
						</div>
						<div class="col-lg-4">
							<a onclick="location.href = '@routes.Application.home()'"
								class="btn btn-danger col-lg-12 btn-block"> <b>Go Back</b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		}
	</div>
	<script>
		function fetchRows(selectId, divId) {

			var actionType = $("#" + selectId + " option:selected").val();
			if (actionType != "") {
				$
						.ajax({
							type : "POST",
							url : "/fetchActionValues",
							data : {
								"actionType" : actionType
							},
							success : function(data) {
								values = JSON.parse(data);
								var html_content = "<select class='form-control' name='actionValueId[]'";
					html_content +=	" id='actionValueId' multiple>";
								for (var i = 0; i < values.length; i++) {
									html_content += "<option value='"+values[i].actionId+"'>";
									html_content += values[i].actionValue
											+ "</option> ";
								}

								html_content += "</select>";
								$("#" + divId).html(html_content);
								$("#" + divId).show(400);
							}
						});
			}
		}
	</script>
	}