@(algorithms:List[CombiningAlgorithm])
@import java.math.BigInteger; var i=1;var k=0;
@main("Combining Algorithm"){
<script>
String.prototype.capitalizeFirstLetter = function() {
	return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase();
}

function deleteItem(rowId, id) {
	if (id != null) {
		var option = confirm("Are you sure to delete this combining algorithm?");
		if (option) {
			$.ajax({
				type : "POST",
				url : "/deleteAlgorithm",
				data : {
					"attributeId" : id,
				},
				success : function(data) {
					$("#"+rowId).remove();
					
				}
			});
		}

	}
}

function updateValue() {
	var valueId = $("#valueId").val();
	var editValueName = $("#editValueName").val();
	var rowId = $("#rowId").val();
	$.ajax({
		type : "POST",
		url : "/updateAlgorithm",
		data : {
			"valueId" : valueId,
			"valueName" : editValueName
		},
		success : function(data) {
			$("#value_" + rowId).html(editValueName);
			$("#myModal").modal('toggle');

		}
	});
}
function openEditModal(rowId, id) {
	if (id != null) {
		var value = $("#value_"+rowId).html();
		$("#editValueName").val(value);
		
		$("#rowId").val(rowId);
		$("#valueId").val(id);
		$("#myModal").modal('show');
	}
}
</script>
<div id="page-wrapper">
@if(algorithms.size()!=0){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">All Combining Algorithms</div>
				<div class="panel-body" style="overflow: auto; height: 430px;">
					<table class="table table-hover">
						<thead>
							<th>Index</th>
							<th>Algorithm Name</th>
							<th>Operations</th>
						</thead>
						<tbody>
							@for(algorithm <- algorithms){
							<tr id="tr@{i}">
								<td>@i</td>
								<td id="value_@i">@algorithm.getCombiningAlgorithmName()</td>
								<td>
									<div class="row">
										<div class="col-lg-6">
											<a onclick="openEditModal('@i','@algorithm.getCombiningAlgorithmId()')"
												class=" btn btn-info btn-block">Edit</a>
										</div>
										<div class="col-lg-6">
											<a onclick="deleteItem('tr@i','@algorithm.getCombiningAlgorithmId()')"
												class=" btn btn-danger btn-block">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							@{i=i+1} }
						</tbody>
					</table>
					<div class="col-lg-12" style="margin-bottom: 10px;">
							<button type="submit"
								onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-primary btn-block">
								<b>Go Back</b>
							</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modalDiv">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<input type="hidden" name="valueId" id="valueId" />
			<input type="hidden" name="rowId" id="rowId" />
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Edit Algorithm</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12">
							<label>Edit Algorithm Name</label>
								<input type="text" class="form-control "
										name="editValueName" id='editValueName' />
							</div>
						</div>
						
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" onclick="updateValue()">Update CombiningAlgorithm </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	}else{
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">
					<b>No Algorithm in DomainModel yet!!</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12" style="margin-bottom: 10px;">
							<button type="submit"
								onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-primary col-lg-12 btn-block">
								<b>Go Back</b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>

}
