@(mainTypes: List[String], attributeValues:List[GraphEntityValue])
@import java.math.BigInteger; var i=1;var k=0; 
@main("Example"){
<script>
	String.prototype.capitalizeFirstLetter = function() {
		return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase();
	}

	function deleteItem(rowId, id) {
		if (id != null) {
			var option = confirm("Are you sure to delete This Action Type?");

			if (option) {
				$.ajax({
					type : "POST",
					url : "/deleteAttributeValue",
					data : {
						"attributeId" : id,
					},
					success : function(data) {
						$("#"+rowId).remove();
						
					}
				});
			}

		}
	}

	function updateValue() {
		var valueId = $("#valueId").val();
		var editValueName = $("#editValueName").val();
		var rowId = $("#rowId").val();
		$.ajax({
			type : "POST",
			url : "/updateAttributeValue",
			data : {
				"valueId" : valueId,
				"valueName" : editValueName
			},
			success : function(data) {
				$("#value_" + rowId).html(editValueName);
				$("#myModal").modal('toggle');

			}
		});
	}

	function fetchRows(id) {
		var attributeType = $("#" + id + " option:selected").val();
		if (attributeType != "") {
			$
					.ajax({
						type : "POST",
						url : "/fetchAllValues",
						data : {
							"attributeType" : attributeType
						},
						success : function(data) {
							values = JSON.parse(data);
							var html_content = "<div class='col-lg-12'>";
							html_content += "<div class='panel panel-default'>";
							html_content += "<div class='panel-heading'>All "
									+ attributeType + "(S)  </div>";
							html_content += "<div class='panel-body' style='overflow: auto; height: 430px;'>";
							html_content += "<table id='attributeTable' class='table table-hover'>";
							html_content += "<thead>";
							html_content += "<th>Index</th>";
							html_content += "<th>"
									+ attributeType.capitalizeFirstLetter()
									+ " Type</th>";
							html_content += "<th>"
									+ attributeType.capitalizeFirstLetter()
									+ " Sub Type</th>";
							html_content += "<th>"
									+ attributeType.capitalizeFirstLetter()
									+ " Name</th>";
							html_content += "<th>Operations</th>";
							html_content += "</thead>";
							html_content += "<tbody>";
							for (var i = 0; i < values.length; i++) {
								html_content += "<tr id='tr"+i+"'>";
								html_content += "<td>" + (i + 1) + "</td>";
								html_content += "<td>" + values[i].mainType
										+ "</td>";
								html_content += "<td>" + values[i].subType
										+ "</td>";
								html_content += "<td id='value_"+i+"'>"
										+ values[i].value + "</td>";
								html_content += "<td>";
								html_content += "<div class='row'>";
								html_content += "<div class='col-lg-6'>";
								html_content += "<a onclick=\"openEditModal('"
										+ i + "','" + values[i].graphEntityId
										+ "')\"";
								html_content += "class=' btn btn-info btn-block'>Edit</a>";
								html_content += "</div>";
								html_content += "<div class='col-lg-6'>";
								html_content += "<a class=' btn btn-danger btn-block' href='#' onclick=\"deleteItem('tr"
										+ (i)
										+ "', '"
										+ values[i].graphEntityId
										+ "')\">Delete</a>";
								html_content += "</div>";
								html_content += "</div>";
								html_content += "</td>";
								html_content += "</tr>";
							}
							html_content += "</tbody>";
							html_content += "</table>";
							html_content += "</div>";
							html_content += "</div>";
							html_content += "</div>";
							$("#attribute_div").html(html_content);
						}
					});
		}

	}
	function openEditModal(rowId, id) {
		if (id != null) {
			var value = $("#value_"+rowId).html();
			$("#editValueName").val(value);
			
			$("#rowId").val(rowId);
			$("#valueId").val(id);
			$("#myModal").modal('show');
		}

	}
</script>
<div id="page-wrapper">
	@if(attributeValues.size()!=0){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Step1 &#8594; <b>Select Attribute Type</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6" style="margin-bottom: 10px;">
							<select required class="form-control" name="actionType"
								id="actionTypeOptions">
								<option selected="selected" disabled="disabled" value="">Select
									Attribute Type</option> @for(mainType <- mainTypes){
								<option value="@mainType">@mainType</option> }
							</select>
						</div>
						<div class="col-lg-3">
							<button onclick="fetchRows('actionTypeOptions')"
								class="btn btn-primary btn-block">View Attributes</button>
						</div>
						<div class="col-lg-3" style="margin-bottom: 10px;">
							<button type="submit"
								onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-danger btn-block">
								<b>Go Back</b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="attribute_div"></div>
	<div id="modalDiv">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Edit Value</h4>
					</div>
					<div class="modal-body">
						<input type="hidden" name="valueId" id="valueId" /> <input
							type="hidden" name="rowId" id="rowId" />

						<div class="row">
							<div class="col-lg-12">
								<label>Edit Name Value</label> <input type="text"
									class="form-control " name="editValueName" id='editValueName' />
							</div>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary"
							onclick="updateValue()">Update Value</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	}else{
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">
					<b>No Actions in DomainModel yet!!</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12" style="margin-bottom: 10px;">
							<button type="submit"
								onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-primary col-lg-12 btn-block">
								<b>Go Back</b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>


}
