@(resourceValues:List[GraphEntityValue])
@import java.math.BigInteger; var i=1;var k=0;
@main("Example"){

<div id="page-wrapper">

@if(resourceValues.size()!=0){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">All Resources</div>
				<div class="panel-body" style="overflow: auto; height: 430px;">
					<table class="table table-hover">
						<thead>
							<th>Index</th>
							<th>Resource Type</th>
							<th>Resource Sub Type</th>
							<th>Resource Name</th>
							<th>Operations</th>
						</thead>
						<tbody>
							@for(resourceValue <- resourceValues){
							<tr>
								<td>@i</td>
								<td>@resourceValue.getMainType()</td>
								<td>@resourceValue.getSubType()</td>
								<td>@resourceValue.getValue()</td>
								<td>
									<div class="row">
										<div class="col-lg-6">
											<a onclick="edit('@resourceValue.getGraphEntityId()')"
												class=" btn btn-info btn-block">Edit</a>
										</div>
										<div class="col-lg-6">
											<a onclick="deleteItem('@resourceValue.getGraphEntityId()')"
												class=" btn btn-danger btn-block">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							@{i=i+1} }
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modalDiv">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Edit Resource</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-lg-12">
							<label>Edit Resource Type</label>
								<input type="text" class="form-control "
										name="editResourceType" id='editResourceType' />
							</div>
							<div class="col-lg-12">
							<label>Edit Resource Sub Type</label>
								<input type="text" class="form-control "
										name="editResourceSubType" id='editResourceSubType' />
							</div>
							<div class="col-lg-12">
							<label>Edit Resource Value</label>
								<input type="text" class="form-control "
										name="editResourceValue" id='editResourceValue' />
							</div>
						</div>
						
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary">Update Resource</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	}else{
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">
					<b>No Resource in DomainModel yet!!</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12" style="margin-bottom: 10px;">
							<button type="submit"
								onClick="location.href = '@routes.Application.adminHome()'"
								class="btn btn-primary col-lg-12 btn-block">
								<b>Go Back</b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
</div>
<script>
	function edit(id) {
		
		if (id != null) {
		
			$("#myModal").modal('show');
			//alert(id);
		}

		
	}
	function deleteItem(id) {
		if (id != null) {
			$("#myModal").modal('show');
			
		}
	}
</script>
}
