@import helper._ 
@main("Intialize Graph"){
<div id="page-wrapper">

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Upload Graph File</div>
				<div class="panel-body">
					<div class="row ">
						<div class="col-lg-12" style="margin-bottom: 10px;">
							@helper.form(action = routes.GraphController.upload,
							'method->"POST", 'enctype -> "multipart/form-data") { <input
								id="input-1" name="picture" type="file" class="file"
								data-preview-file-type="text"> }
						</div>

					</div>
					<hr><h3 style="text-align: center;">OR</h3><hr>
					<div class="row ">
						<div class="col-lg-12" style="margin-bottom: 10px;">
							<a href="@routes.GraphController.parseGraphFile()"	class="btn btn-success col-lg-12 btn-block">
							Process with existing template 
						</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
}


