@(message: String, 
fileType:String,
firsts: List[GraphEntityValue], 
seconds: List[GraphEntityValue], 
thirds: List[GraphEntityValue], 
fourths: List[GraphEntityValue],
answers:Map[String,String],
labels: List[String],
groupId:Long)

@import helper._ 
@main(message){
<div id="page-wrapper">
	@helper.form(action=routes.GroupController.addGroupPropertyGroup(),'id->"myForm_property",'name->"myForm_property"){
	<div class="row">
		<input type="hidden" value="@groupId" name="groupId" id="groupId"/>
		<input type="hidden" value="@fileType" name="fileType" id="fileType"/>
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Create @fileType  Group</b> </i>
				</div>

				<div class="row">

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Value(s)</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(0) </label>  <select required class="form-control" id="@labels.get(0)"
											name="@labels.get(0)" >
											<option value="" disabled >select @labels.get(0)</option>
										
											@for(first <- firsts) {
											<option value="@first.getValue()" @if(answers.get(labels.get(0)).equals(first.getValue())){selected}>
												@first.getValue()</option> }
										</select>
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(1)
										</label>  <select required class="form-control" id="@labels.get(1)"
											name="@labels.get(1)">
											<option value="" disabled >select @labels.get(1)</option>
											@for(second <- seconds) {
											<option value="@second.getValue()" @if(answers.get(labels.get(1)).equals(second.getValue())){selected}>
												@second.getValue()</option> }
										</select> 
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Select @labels.get(2) </label><select required class="form-control" id="@labels.get(2)"
											name="@labels.get(2)">
												<option value="" disabled >select @labels.get(2)</option>
										
											@for(third <- thirds){
											<option value="@third.getValue()" @if(answers.get(labels.get(2)).equals(third.getValue())){selected}>@third.getValue()</option>
											}
										</select>
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										@if(fourths!=null){
										<label> Select name </label><select required class="form-control" id="name"
											name="name">
											<option value="" disabled >select Name</option>
											@for(fourth <- fourths){
											<option value="@fourth.getValue()" @if(answers.get("name").equals(fourth.getValue())){selected}>@fourth.getValue()</option>
											}
										</select>
										}else{
											<label> Enter name </label><input required type="text" class="form-control" id="name"
											name="name" value="@answers.get("name")"/>
										</select>
										}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Step 3 &#8594; <b>Select Operation</b>
		</div>
		<div class="panel-body">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-lg-4">
					<button type="submit" value="continue" name="submitValue1"
						 class="btn btn-primary col-lg-12 btn-block">
						<b>Update and Go Back</b>
					</button>
				</div>
				<div class="col-lg-4">
					<button type="submit" value="more" name="submitValue1"
						 class="btn btn-success col-lg-12 btn-block">
						<b>Update and Add Another Group</b>
					</button>
				</div>
				<div class="col-lg-4">
					<a class="btn btn-danger col-lg-12 btn-block" onClick="location.href = '@routes.Application.newFile()'">
						<b>Go Back</b>
					</a>
				</div>
			</div>
		</div>
	</div>
	}
</div>

}
