@(title: String,
 groups: List[JoinGroups],
 fileType:String) 

@import helper._ 
@main(title){

<div id="page-wrapper">
<script>
function deleteItem() {
	var id = $("#groupId").val();
		if (id != null) {
			var option = confirm("Are you sure to delete This Action Type?");

			if (option) {
				$.ajax({
					type : "POST",
					url : "/deleteJoinPropertyGroup",
					data : {
						"groupId" : id,
					},
					success : function(data) {
						$('#groupId option[value="'+id+'"]').remove();
						
					}
				});
			}

		}
	}
</script>

	@helper.form(action=routes.JoinFileController.JoinPropertyEdit(),'id->"editGroup",'name->"editGroup"){
	<input type="hidden" value="@fileType" name="fileType"/>
			
	@if(groups.size()!=0){
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step 1 &#8594; <b>Select Property Group</b>
							</div>
							<div class="panel-body">
								<div >

									<div class="row">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Select Group </label> <select class="form-control"
												name="groupId" id="groupId" style="width: 100%;">
												@for(group <- groups) {
												<option style="width: 100%;" value="@group.getJoinGroupId()">
													@group.getJoinGroupId()</option> }
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						Step 2 &#8594; <b>Select Operation</b>
					</div>
					<div class="panel-body">
						<div class="row" style="margin-bottom: 10px;">
							<div class="col-lg-3">
								<button type="submit" value="edit" name="submitValue1"
									id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
									Edit Group</b>
								</button>
							</div>
							<div class="col-lg-3">
								<a  onclick="deleteItem()" class="btn btn-danger col-lg-12 btn-block">
									Delete Group</b>
								</a>
							</div>
							<div class="col-lg-3">
								<button type="submit" value="newGroup" name="submitValue1"
									id="submitValue1" class="btn btn-success col-lg-12 btn-block">
									Add New Group</b>
								</button>
							</div>
							<div class="col-lg-3">
								<a  onClick="location.href = '@routes.Application.home()'" class="btn btn-primary col-lg-12 btn-block">
										<b>Go Back</b>
								</a>
							</div>
						</div>
					</div>
				</div>
				}else{
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="text-align:center">
								<b>No Group Found!!</b>
							</div>
							<div class="panel-body">
								<div class="row">
								
									<div class="col-lg-6" style="margin-bottom: 10px;">
										<a  onClick="location.href = '@routes.Application.home()'" class="btn btn-primary col-lg-12 btn-block">
										<b>Go Back</b>
										</a>
									</div>
									<div class="col-lg-6" style="margin-bottom: 10px;">
										<button type="submit" value="newGroup" name="submitValue1" class="btn btn-primary col-lg-12 btn-block">
										<b>Add New Group</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			}
			}