@(userForm: Form[Application.Login])
@import java.lang.String; val username="template"
@import helper._

@main("Login"){

<div class="container theme-showcase" role="main">
	@if(session.get("connected")){
	<div>hello @session.get("connected")</div>
	}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Sign In</h3>
					</div>
					@if(userForm.hasGlobalErrors) {
						<p class="error">@userForm.globalError.message</p>
					}
					<div class="panel-body">
					
					
						@helper.form(routes.Application.authenticate) {
						 
						   <p>
						       <input type="email" name="email" class="form-control" placeholder="Email" value="@userForm(username).value">
						   </p>
						   <p>
						       <input type="password" class="form-control" name="password" placeholder="Password">
						   </p>
						   <p>
						       <button type="submit" class="col-lg-6 btn btn-lg btn-success btn-block" >Login</button>
						   </p>
						}
					
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


}
