@(title: String)

 @main(title){
<div id="page-wrapper">
	@helper.form(action=routes.RuleController.addNewRule(),'id->"myForm",'name->"myForm"){
	<div class="row" >
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Policy*</b> </i>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<b>Enter Policy Details</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label style="margin-right: 5px">Policy Name</label>
										 <input
											required class="form-control" placeholder="Enter Policy Name"
											type="text" name="policyName"   />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label style="margin-right: 5px">Policy Description</label>
										<textarea required class="form-control"
											placeholder="Enter Policy Description" type="text"
											name="policyDescription" ></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<button type="submit" value="continue" name="submitValue1"
											id="submitValue1" class="btn btn-success col-lg-12 btn-block">
											<b>Save and Continue</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
	}