@(title: String,types:List[String]) 

@main(title){
<div id="page-wrapper">
	
	<script>
	
	
		function updateSeed(option,inputField){
			var val = $('#'+option).val();
			if(val=="Action"|| val.endsWith('Group')){
				$('#'+inputField).html("");
			}else{
				var html_content="<label style='margin-right: 5px'>Seed</label>";
				html_content+=" <input required class='form-control' placeholder='0' type='number' name='seed' />";
				$('#'+inputField).html(html_content);
						
			}
		}
		String.prototype.endsWith = function(pattern) {
		    var d = this.length - pattern.length;
		    return d >= 0 && this.lastIndexOf(pattern) === d;
		};
	</script>
	@helper.form(action=routes.Application.submitMemberFile(),'id->"myForm",'name->"myForm"){
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Add New Property File*</b> </i>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<b>Enter Member Property File Detail</b>
							</div>
							<div class="panel-body">
								<div class="row">
									
									<div class="col-lg-6" style="margin-bottom: 10px;">
										<label style="margin-right: 5px">File Type</label> <select
											class="form-control" required id="type" name="type" onchange="updateSeed('type','seedDiv')">
											<option value="" disabled="disabled" selected>Select File Type</option>
											@for(typeName <- types) {
											<option value="@typeName">@typeName</option> }
										</select>
									</div>
									<div class="col-lg-6" style="margin-bottom: 10px;" id="seedDiv">
										
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<button type="submit" value="continue" name="submitValue1"
											id="submitValue1" class="btn btn-success col-lg-12 btn-block">
											<b>Save and Continue</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		}
	</div>
	}
