@(message: String, 
firsts: List[GraphEntityValue], 
seconds: List[GraphEntityValue], 
thirds: List[GraphEntityValue], 
labels: List[String],
groupDetail: PropertyGroups,
firstValues: List[String],
secondValues: List[String],
thirdValues: List[String],
optionList:List[String],
groupId:String)

@import helper._ 
@main(message){
<div id="page-wrapper">
	@helper.form(action=routes.PropertyFileController.addMemberPropertyGroup(),'id->"myForm_property",'name->"myForm_property"){
	<input type="hidden" value="@groupId" name="groupId"/>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="border: 0; margin-bottom: 10px; box-shadow: none;">
				<div class="panel-heading"
					style="font-size: 20px; text-align: center; margin-bottom: 10px;">
					<i><b>Update Organisation Property Group</b> </i>
				</div>

				<div class="row">

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step1 &#8594; <b>Select Value(s)</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-4" style="margin-bottom: 10px;">
										<label> Select @labels.get(0)s </label> <label
											class="checkbox-inline"> <input
											@if(firstValues.size()!=0){
											checked
										}
											 type="checkbox"
											value="@labels.get(0)" name="firstOption"
											onchange="changeOption('firstIds','firstOption'); changeDivVisibility('firstChoiceSpan');">
											In Use
										</label> <select @if(firstValues.size()==0){
											disabled="disabled"
										} class="form-control" id="firstIds"
											 name="firstIds[]" multiple>
											@for(first <- firsts) {
											<option @if(firstValues.contains(first.getValue())){ 
														selected
											 }
											 value="@first.getValue()">
												@first.getValue()</option> }
										</select> <span id="firstChoiceSpan"
											style="@if(firstValues.size()==0){display: none;}  font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for  @labels.get(0) </label> <label
											class="radio-in-line"><input type="radio"
												name="firstChoice" id="firstChoice" value="fixed"
												@if(optionList.get(0)=="fixed"){checked}> Fixed </label> <label class="radio-in-line"><input
												type="radio" name="firstChoice" id="firstChoice"
												value="omit" @if(optionList.get(0)=="omit"){checked}> Omit </label>
										</span>
									</div>
									<div class="col-lg-4" style="margin-bottom: 10px;">
										<label> Select @labels.get(1)s
										</label> <label
											class="checkbox-inline"> <input @if(secondValues.size()!=0){
											checked
										} type="checkbox"
											value="@labels.get(1)" name="secondChoiceOption"
											onchange="changeOption('secondChoiceId','secondChoiceOption'); changeDivVisibility('secondChoiceSpan');">
											In Use
										</label> <select class="form-control" id="secondChoiceId"
											@if(secondValues.size()==0){
											disabled="disabled"
										} name="secondChoiceId[]" multiple>
											@for(second <- seconds) {
											<option value="@second.getValue()"
											@if(secondValues.contains(second.getValue())){ 
														selected
											 }
											>
												@second.getValue()</option> }
										</select> <span id="secondChoiceSpan"
											style="@if(secondValues.size()==0){display: none;}  font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for  @labels.get(1) </label> <label class="radio-in-line"><input
												type="radio" name="secondChoice" id="secondChoice"
												value="fixed" @if(optionList.get(1)=="fixed"){checked}> Fixed </label> <label
											class="radio-in-line"><input type="radio"
												name="secondChoice" id="secondChoice" value="omit" @if(optionList.get(1)=="omit"){checked}>
												Omit </label>
										</span>
									</div>
									<div class="col-lg-4" style="margin-bottom: 10px;">
										<label> Select @labels.get(2)s </label> <label class="checkbox-inline">
											<input @if(thirdValues.size()!=0){
											checked
										} type="checkbox" value="@labels.get(2)" name="thirdChoiceOption"
											onchange="changeOption('thirdChoiceId','thirdChoiceOption'); changeDivVisibility('thirdChoiceSpan');">
											In Use
										</label> <select class="form-control" id="thirdChoiceId"
											@if(thirdValues.size()==0){
											disabled="disabled"
										} name="thirdChoiceId[]" multiple>
											@for(third <- thirds){
											<option value="@third.getValue()"
											@if(thirdValues.contains(third.getValue())){ 
														selected
											 }
											>@third.getValue()</option>
											}
										</select> <span id="thirdChoiceSpan"
											style="@if(thirdValues.size()==0){display: none;}  font-size: 12px; font-weight: 400 !important;">
											<label style="font-size: 12px; font-weight: 400;">
												Option for  @labels.get(2) </label> <label class="radio-in-line"><input
												type="radio" name="thirdChoice" id="thirdChoice" value="fixed"
												@if(optionList.get(2)=="fixed"){checked}> Fixed </label> <label class="radio-in-line"><input
												type="radio" name="thirdChoice" id="thirdChoice" value="omit"
												@if(optionList.get(2)=="omit"){checked}> Omit </label>
										</span>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step2 &#8594; <b>Set Instance Count</b>
							</div>
							<div class="panel-body">
								<div class="row ">
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Attribute Combination Count </label> <input
											type="number" placeholder="0" min="0" class="form-control"
											required name="attributeCombinationCount" value="@groupDetail.getCombinationCount()">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Small </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="smallInstanceCount" value="@groupDetail.getSmallInstanceCount()">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Medium </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="mediumInstanceCount" value="@groupDetail.getMediumInstanceCount()">
									</div>
									<div class="col-lg-3" style="margin-bottom: 10px;">
										<label> Large </label> <input type="number" placeholder="0"
											min="0" class="form-control" required
											name="largeInstanceCount" value="@groupDetail.getLargeInstanceCount()">
									</div>
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<label>
										Prefixes for Member<i><span style="font-size:10px;">(Comma seperated prefixes)</span></i>
										</label>
										<input required class="form-control"
											placeholder="Enter Name PreFixes" type="text"
											name="namePrefixes" value="@groupDetail.getNamePrefix()"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Step 3 &#8594; <b>Select Operation</b>
		</div>
		<div class="panel-body">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-lg-6">
					<button type="submit" value="continue" name="submitValue1"
						 class="btn btn-primary col-lg-12 btn-block">
						<b>Update and Go Back</b>
					</button>
				</div>
				<div class="col-lg-6">
					<button type="submit" value="back" name="submitValue3"
						 class="btn btn-danger col-lg-12 btn-block">
						<b>Cancel and Go Back</b>
					</button>
				</div>
			</div>
		</div>
	</div>
	}
</div>

}
