@(title: String, policies: List[Policy]) 

@import helper._ 
@main(title){
<div id="page-wrapper">
	@if(policies.size()!=0){
	@helper.form(action=routes.PolicyController.submitActionPolicy(),'id->"printGroup",'name->"printGroup"){

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">

				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step 1 &#8594; <b>Select Policy</b>
							</div>
							<div class="panel-body">
								<div id="organization_div">

									<div class="row">
										<div class="col-lg-12" style="margin-bottom: 10px;">
											<label> Select Policy </label> <select class="form-control"
												name="policyId" id="policyId" style="width: 100%;">
												@for(policy <- policies) {
												<option style="width: 100%;" value="@policy.getPolicyId()">
													@policy.getPolicyName()</option> }
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						Step 2 &#8594; <b>Select Operation</b>
					</div>
					<div class="panel-body">
						<div class="row" style="margin-bottom: 10px;">
							<div class="col-lg-4">
								<button type="submit" value="edit" name="submitValue1"
									id="submitValue1" class="btn btn-primary col-lg-12 btn-block">
									Edit Policy</b>
								</button>
							</div>
							<div class="col-lg-4">
								<button type="submit" value="print" name="submitValue1"
									id="submitValue1" class="btn btn-success col-lg-12 btn-block">
									Print Policy</b>
								</button>
							</div>
							<div class="col-lg-4">
								<button type="submit" value="delete" name="submitValue1"
									id="submitValue1" class="btn btn-danger col-lg-12 btn-block">
									Delete Policy</b>
								</button>
							</div>
						</div>
					</div>
				</div>
				} }else{
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="text-align:center">
								<b>No Policy in System!!</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<button type="submit" onClick="location.href = '@routes.Application.home()'" class="btn btn-primary col-lg-12 btn-block">
										<b>Go Back</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			}