@( title: String, types:List[String] ) 
@import helper._ 
@main(title){

<script>
	function updateList(propertyType, fileNameId) {
		var propertyType = $("#" + propertyType + " option:selected").val();
		var fileType = $("#propertyType").val();
		$.ajax({
					type : "POST",
					url : "/updatePropertyFiles",
					data : {
						"propertyType" : propertyType,
						"propertyType" : propertyType
					},
					success : function(data) {
						lst = JSON.parse(data);
						$('#' + fileNameId).empty(); //remove all child nodes
						var defaultOption = $('<option selected="selected" disabled="disabled" value="">Select Property File</option>');
						$('#' + fileNameId).append(defaultOption);
						for (var i = 0; i < lst.length; i++) {
							var newOption = $('<option value="'+lst[i]+'">'
									+ lst[i] + '</option>');
							$('#' + fileNameId).append(newOption);
						}
						$('#' + fileNameId).trigger("chosen:updated");
					}
				});

	}
	function deleteFile() {
		var fileName = $("#propertyFileName").val();
		var fileType = $("#propertyType").val();
		if (fileName != null) {
			var option = confirm("Are you sure to delete This File?");

			if (option) {
				$.ajax({
					type : "POST",
					url : "/deleteFile",
					data : {
						"fileName" : fileName,
						"fileType" : fileType
					},
					success : function(data) {
						$('#propertyFileName option[value="' + fileName + '"]')
								.remove();

					}
				});
			}

		}
	}
</script>
<div id="page-wrapper">
	@if(types.size()!=0){
	@helper.form(action=routes.Application.submitPropertyFile(),'id->"printPropertyFile",'name->"printPropertyFile"){

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">

				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Step 1 &#8594; <b>Select Property File</b>
							</div>
							<div class="panel-body">
								<div id="organization_div">
									<div class="row">
										<div class="col-lg-6" style="margin-bottom: 10px;">
											<label> Select Property File Type </label> <select
												class="form-control" name="propertyType" id="propertyType"
												style="width: 100%;"
												onchange="updateList('propertyType','propertyFileName')">
												<option selected="selected" disabled="disabled" value="">Select
													Property Type</option> @for(typeValue <- types) {
												<option style="width: 100%;" value="@typeValue">
													@typeValue</option> }
											</select>
										</div>
										<div class="col-lg-6" style="margin-bottom: 10px;">

											<label> Select Property File </label> <select
												class="form-control" required name="propertyFileName"
												id="propertyFileName" style="width: 100%;">
												<option selected="selected" disabled="disabled" value="">Select
													Property File</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						Step 2 &#8594; <b>Select Operation</b>
					</div>
					<div class="panel-body">
						<div class="row" style="margin-bottom: 10px;">
							<div class="col-lg-4">
								<button type="submit" value="print" name="submitValue1"
									id="submitValue1" class="btn btn-success col-lg-12 btn-block">
									Print File</b>
								</button>
							</div>
							<div class="col-lg-4">
								<a onclick="deleteFile()"
									class="btn btn-danger col-lg-12 btn-block"> Delete File</b>
								</a>
							</div>
							<div class="col-lg-4">
								<a onClick="location.href = '@routes.Application.home()'"
									class="btn btn-primary col-lg-12 btn-block"> <b>Go Back</b>
								</a>
							</div>
						</div>
					</div>
				</div>
				} }else{
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="text-align: center">
								<b>No Property File is in System!!</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<button type="submit"
											onClick="location.href = '@routes.Application.home()'"
											class="btn btn-primary col-lg-12 btn-block">
											<b>Go Back</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			}