@(title: String, policies: List[Policy]) 
@import helper._ 
@main(title){
<div id="page-wrapper">
	@if(policies.size()!=0){
	@helper.form(action=routes.PolicyController.submitActionPolicy(),'id->"printGroup",'name->"printGroup"){

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="border: 0; box-shadow: none;">

				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<b>Select Policy Test Detail</b>
							</div>
							<div class="panel-body">
								<div id="organization_div">

									<div class="row">
										<div class="col-lg-4" style="margin-bottom: 10px;">
											<label> Select Policy </label> <select class="form-control"
												name="policyId" id="policyId" style="width: 100%;">
												@for(policy <- policies) {
												<option style="width: 100%;" value="@policy.getPolicyId()">
													@policy.getPolicyName()</option> }
											</select>
										</div>
										<div class="col-lg-3" style="margin-bottom: 10px;">
											<label> Test Date </label> <select
												class="form-control" name="policyId" id="policyId"
												style="width: 100%;">
												<option style="width: 100%;" value="Xacml2.0">
													24 nov 2015</option>
												<option style="width: 100%;" value="Xacml3.0">
													28 nov 2015</option>
											</select>
										</div>
										<div class="col-lg-5" style="margin-bottom: 0px;margin-top:23.5px;">
											<div class="col-lg-6" style="margin-bottom: 10px;">
												<a href="#"
													class="btn btn-success btn-block">
													<b>View Results</b>
												</a>
											</div>
											<div class="col-lg-6" style="margin-bottom: 10px;">
												<a href="#"
													class="btn btn-danger btn-block">
													<b>Go Back</b>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							
							<div class="panel-body">
								<div id="organization_div">
									<div class="row">
										<div class="col-lg-6" style="margin-bottom: 10px;">
											<label> PDPs Comparison Result </label> 
											<div class="col-lg-12" style="margin-bottom:10px">
											<img src="@routes.Assets.at("images/result1-time-measure.png")" width="100%" height="250px"/>
											</div>
										</div>
										<div class="col-lg-6" style="margin-bottom: 10px;">
											<label> PDPs Performance Ratio Result </label> 
											<div class="col-lg-12" style="margin-bottom:10px">
											<img src="@routes.Assets.at("images/result2-performance-factor.png")" width="100%" height="250px" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				} }else{
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="text-align: center">
								<b>No Policy in System!!</b>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12" style="margin-bottom: 10px;">
										<button type="submit"
											onClick="location.href = '@routes.Application.home()'"
											class="btn btn-primary col-lg-12 btn-block">
											<b>Go Back</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			}